.Menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
}

.Menu h1 {
  font-family: "Pattaya", "Poppins", sans-serif;
  color: #fff;
}

.Menu .Content {
  height: 100%;
  display: flex;
}

.Menu a {
  display: flex;
  align-items: center;
  height: 100%;
  padding: 0.65rem;
  margin-left: 1.4rem;
  font-size: 1.3rem;
  font-weight: 400;
  color: var(--secondary);
}

.Menu a.active {
  transition: 0.2s ease-in-out;
  color: #fff;
  font-weight: 700;
}

.Menu a:hover {
  transition: 0.15s ease-in;
  background-color: var(--info);
}
